<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2db39d7a-b0e9-4a03-bbde-d7b33d7d9c1d/resourceGroups/ThinkBridge-RG/providers/Microsoft.Web/sites/thinkbridge-ai-learning</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://thinkbridge-ai-learning-b4habwd6f9f9c4fr.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>thinkbridge-ai-learning-b4habwd6f9f9c4fr.scm.brazilsouth-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>thinkbridge-ai-learning</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$thinkbridge-ai-learning</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:thinkbridge-sql-2026.database.windows.net,1433;Initial Catalog=ThinkBridgeDB;Persist Security Info=False;User ID=thinkbridgeadmin;Password=T!nkBr1dge_Azure#2026;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:thinkbridge-sql-2026.database.windows.net,1433;Initial Catalog=ThinkBridgeDB;Persist Security Info=False;User ID=thinkbridgeadmin;Password=T!nkBr1dge_Azure#2026;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ThinkBridge.Models.ApplicationDbContext, ThinkBridge" MigrationConfiguration="ThinkBridge.Migrations.Configuration, ThinkBridge" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:thinkbridge-sql-2026.database.windows.net,1433;Initial Catalog=ThinkBridgeDB;Persist Security Info=False;User ID=thinkbridgeadmin;Password=T!nkBr1dge_Azure#2026;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>